<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Telros_userTask</title>
</head>
<body>

<form class="some-class" action="#" th:action="@{/account/login}" method="post">
    <h2>Для входа в программу необходимо ввести имя пользователя и пароль, после нажать кнопку "войти".</h2>

        <p th:if="${param.failed}" style="color: brown">Ошибка ввода данных авторизации, попробуйте еще раз.</p>
        <input type="text" name="username" placeholder="Введите имя">
        <input type="password" name="password" placeholder="Введите пароль">
    <input type="submit" value="Войти">
    <br>
    <br>
    <br>
    <br>
    <h2>Если аккаунт не создан, то Вам необходимо зарегистрироваться</h2>
    <a th:href="@{/account/registration}">Зарегистрировать новый аккаунт</a>
</form>


</body>
</html>