<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>telros_userTask</title>
</head>
<body>
<form action="#" th:action="@{/users/add}" th:object="${user}" method="post">

  <h2>Вы находитесь на странице добавления нового пользователя.</h2>
  <h3>Заполните поля ниже, затем нажмите "Сохранить".</h3>

  <p th:if="${param.user_exists}" style="color: brown">Ошибка, данные не уникальны! Попробуйте еще раз!</p>

  <!--<div>
    <label for="id">ID</label>
    <input type="text" th:field="*{id}" id="id" placeholder="Введите id">
    <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
  </div>-->
  <div>
    <label for="lastName">lastName</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Введите lastName">
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
  </div>
  <div>
    <label for="firstName">firstName</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="Введите firstName">
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
  </div>
  <div>
    <label for="middleName">middleName</label>
    <input type="text" th:field="*{middleName}" id="middleName" placeholder="Введите тиmiddleName">
    <span th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></span>
  </div>
  <div>
    <label for="email">email, м.</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Введите email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
  </div>
  <div>
    <label for="phoneNumber">phoneNumber</label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber" placeholder="Введите phoneNumber">
    <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
  </div>

  <p><input type="submit" value="Сохранить" /> <input type="reset" value="Стереть" /></p>
</form>
</body>
</html>